/**
 * @section Fluid iFrames
 * Create responsive iframes
 */

.fluid-vids {
	margin-bottom: $spacing;
	max-width: 100%;
	padding-top: 60.625%;
	position: relative;
	width: 100%;
}

.fluid-vids iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}